body{
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-height=1.7;
}

.head-section{
	padding:100px 0;
	background-color:#0077d9;
	min-height:200px;
}

.content-section{
	padding:60px 0;
	background-color:#f0f3f5;
}

.resume{
	
	margin:-200px auto 0;
	padding:0;
	
	width:740px;
	background-color:#fff;
	box-shadow:0 1px 2px rgba(80,80,80,.1);
	border-radius:4px;
}

.profile{
    padding: 30px 50px;
    text-align: left;
    border-bottom: 1px solid #EBF0F4;
}
.profile h2{
	font-size:25px;
    color: #788087;
	font-weight:bold;
}

.body{
	padding:20px 50px;
	font-size:16px;
}

.resume .body h3{
	font-size:20px;
	color:#788087;
	font-weight:bold;
}



ul{
    margin-top: 12px;
    list-style: circle;
    padding-left: 20px;
}

.resume article{
	padding:10px;
}

.footer  {
	text-align:center;
	padding:50px;
	
}
